body {

/*    rect:hover{
        fill: darkred;
    }

    h1 {
        background-color: brown;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
    }

    h1:hover {
        background-color: orangered;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
    }*/
}
/*rect:hover{
    fill:darkred;
}
h1 {
    background-color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
h1:hover{
    background-color:orangered;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}*/