@page "/login"

@using BattleShipV3.Shared.Data.Commands.User.Create
@using MudBlazor;
@using Radzen.Blazor
@using Models
@using BattleShipV3.Shared

@inject ToastService toastService
@*@using BattleShipV3.Server*@

@inject UserService userService

<h3>Login</h3>

<MudText>Email</MudText>
<MudInputString InputType="InputType.Email" @bind-Value="_email"></MudInputString>

<MudText>Password</MudText>
<MudInputString InputType="InputType.Password" @bind-Value="_password"></MudInputString>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async () => await LoginUser())">Register</MudButton>
@code {
    string _email { get; set; }
    string _password { get; set; }

    protected async Task OnInitializedAsync()
    {
        Console.WriteLine("A");
    }

    protected async Task LoginUser()
    {
        if (UserIsValid())
        {
            bool legitUser = false;
            await Task.Run(() => toastService.ShowToast("Created", Data.Enums.ToastLevel.Success));
            await toastService.ShowToastAsync("Created", Data.Enums.ToastLevel.Success);
            var user = await userService.GetUserAsync(_email);
            if (user.Password == _password)
            {
                BattleShipV3.Shared.Global.CurrentUser = user;
                //TOAST NEVEIKIA
                await Console.Out.WriteLineAsync("++++++");
                await Task.Run(() => toastService.ShowToast("Created", Data.Enums.ToastLevel.Success));
                await toastService.ShowToastAsync("Created", Data.Enums.ToastLevel.Success);
            }
            if (legitUser){
                //TOAST NEVEIKIA
                await Console.Out.WriteLineAsync("--------");
            }
        }
        else
        {
            await Task.Run(() => toastService.ShowToast("Info", Data.Enums.ToastLevel.Error));
            await toastService.ShowToastAsync("Info", Data.Enums.ToastLevel.Error);
        }
    }

    protected bool UserIsValid()
    {
        if (!_email.Contains('@') || _email is null)
        {
            return false;
        }
        else if (_password.Length < 3 || _password is null)
        {
            return false;
        }
        return true;
    }
}
